{
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120,
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@api/(.*)$",
    "^@assets/(.*)$",
    "^@hooks/(.*)$",
    "^@contexts/(.*)$",
    "^@components/(.*)$",
    "^@pages/(.*)$",
    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
