.wrapper {
  display: flex;
  overflow: auto;
  gap: 2rem;
  font-size: 2rem;
  padding-block: 0.5rem;
}

.category {
  min-width: 14.3rem;
  height: 9.5rem;
  padding: 1rem;
  font-weight: bold;
  color: var(--color-textLight);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1.5rem;
  user-select: none;
  cursor: pointer;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.active {
  border: 3px solid var(--color-border);
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

.shimmer {
  animation: shimmer 3s linear infinite;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.2) 50%
  );
  background-size: 200% 100%;
}

@media screen and (width > 768px) {
  .wrapper {
    margin-bottom: 5rem;
  }
  .category {
    min-width: 23.5rem;
    height: 23.5rem;
    border-width: 5px;
  }
}
