.wrapper {
  background-color: lightseagreen;
  max-width: 39.8rem;
  min-height: 58.65rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
}

.detail {
  width: 100%;
  color: var(--color-textLight);
  margin-top: auto;
}

.detail > h3 {
  font-size: 3rem;
  font-weight: bold;
}

.detail > p {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (width >= 768px) {
  .wrapper {
    width: 100%;
    min-width: 25.7rem;
    min-height: 45.9rem;
    padding: 1.8rem;
  }

  .detail > h3 {
    font-size: 2rem;
  }

  .detail > p {
    font-size: 1.3rem;
  }
}
