.wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.wrapper > h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
