/* #region General reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Box sizing rules */

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* #endregion */

:root {
  --color-background: hsl(0, 0%, 100%);
  --color-textDark: hsl(0, 0%, 0%);
  --color-textLight: hsl(0, 0%, 100%);
  --color-textMid: hsl(0, 0%, 55%);
  --color-placholder: hsl(0, 2%, 26%);
  --color-btnPrimary: hsl(0, 100%, 73%);
  --color-btnSecondary: hsl(216, 100%, 73%);
  --color-btnTertiary: hsl(115, 100%, 73%);
  --color-border: hsl(191, 100%, 41%);
  --color-error: hsl(0, 100%, 50%);

  --font-family: "DM Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-textDark);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
main {
  padding: 1.5rem;

  @media screen and (width >= 768px) {
    & {
      padding: 3rem;
    }
  }
}

button {
  min-width: 110px;
  width: fit-content;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 12px 16px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

img[role="button"] svg[role="button"] {
  cursor: pointer;
}

/* #region Utility classes */

.textCenter {
  text-align: center;
}

.textLight {
  color: var(--color-textLight);
}

.textDark {
  color: var(--color-textDark);
}

.textMid {
  color: var(--color-textMid);
}

.textTitle {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sectionTitle {
  font-size: 1.8rem;
  font-weight: 700;
  margin-block: 1.5rem 0.5rem;
}

.bgPrimary {
  background-color: var(--color-btnPrimary);
}

.bgSecondary {
  background-color: var(--color-btnSecondary);
}

.bgTertiary {
  background-color: var(--color-btnTertiary);
}

.active {
  border: 3px solid var(--color-border);
}

/* #endregion */

/* #region Form Styles */

label {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

label[for="password"] {
  margin-top: 2rem;
}

input,
textarea {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.1rem 0.7rem;
  border: 2px solid;
}

input[name="password"] {
  border: none;
}
input[name="password"]:focus {
  outline: none;
}

::placeholder {
  font-size: 1.2rem;
  color: var(--color-placholder);
}

form > button {
  margin-top: 2rem;
  justify-self: center;
}

.formTitle {
  font-size: 25px;
  font-weight: 700;
  margin-block: 2rem;
  align-self: center;
}

.formError {
  color: red;
  margin-block: 1.5rem;
  font-size: 1.2rem;
}

.passwordIcon {
  width: 2rem;
  margin-inline: 0.5rem;
  cursor: pointer;
}

/* #endregion */

/* #region Dropdown */

.select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-button {
  width: 100%;
  font-weight: 600;
  padding: 0.75rem;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.select-dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 3px;
  border: 2px solid;
  background-color: white;
}

.select-item {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  align-items: center;
  user-select: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.select-item:hover {
  background-color: whitesmoke;
}

/* #endregion */
